@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 12vh;
}

.swiper {
  width: 100%;
  max-width: 100%;
}

@media screen and (min-width: 640px) {
  .swiper {
    max-width: 60%;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

